@using Domain.Entitys

@model Tag

@{
    ViewData["Title"] = "Excluir Tag";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="DeleteConfirmed" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <p>Tem certeza de que deseja excluir a tag "@Model.Descricao"?</p>

    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
</form>