@using Application.NoticiaCommands.Commands

@model UpdateNoticiaCommand

<form asp-action="Edit" asp-controller="Noticia" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Titulo">Título</label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Texto">Texto</label>
        <textarea asp-for="Texto" class="form-control"></textarea>
        <span asp-validation-for="Texto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TagIds">Tags</label>
        <select asp-for="TagIds" asp-items="ViewBag.Tags" class="form-control" multiple="multiple"></select>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
</form>